.container {
	display: flex; 
	flex-direction: column;
	height: 500px;
	width: 500px;
	background-color; green;
}

.top {
	
}

.top-content {
	background-color: orange;
	display: flex;
} 
.name {
	color: white;
	font-size: 20px;
	text-align: center;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	padding: 20px;
	width: 200px;
	position: relative;
	left: 85px;
  }
  
  .nav {
	position: absolute;
	right: 85px;
	padding: 20px;
	width: 270px;
	
  }

  .middle-wrapper {
	background-color: blue;
	height: 500px;
   
  }

  .entire-content-area {
	  width: 960px;
	  height: 400px;
	  background-color: gray;
		margin: auto;   
		display: flex; 
		justify-content: space-between;   
	  
  }

  .main-section {
	width: 650px;
	height: 260px;
	background-color: white;
	font-size: 20px

  }

  .about-me {
	  padding: 10px;
	  border-bottom: 4px solid red;
	  color: red;

  }

  .bio {
	  margin-top: 10px;
  }

  .mypic {
	  float: left;
  }

  .sidebar {
	width: 270px;
	height: 100px;
	background-color: white;
	
  }

  .bottom {
	background-color: green;
	height: 100px;
	color: white;
	font-size: 10px;
	text-align: center;
	vertical-align: 
